/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/ext/Makefile
/ext/extconf.h
/ext/imgclip.o
/ext/imgclip.so
/ext/mkmf.log
/ext/imgclip/Makefile
/ext/imgclip/imgclip.o
/ext/imgclip/imgclip.so
/ext/imgclip/mkmf.log
